.contact {
  position: relative;
  margin-top: -130px; /* negative value of footer height */
  height: 130px;
  clear:both;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, .5);
}

.contact a { color: #999; text-decoration: none; outline: 0; }
.contact a:link { color: #999; }
.contact a:active { color: #999; }
.contact a:visited { color: #999; }
.contact a:hover { color: #00ccff; text-decoration: none; }

.contact p {
  margin-top: 18px;
}

.contact hr {
  color: #aaa;
  background-color: #aaa;
  height:1px;
  border:none;
  /*border: solid 1px rgba(255, 255, 255, .5);*/
  /*border: solid 0.5px #333;*/
}

.contact-bg {
  background-color: #333333;
}

.contact-section {
  padding-left: 0px;
  padding-right: 30px;
}

.contact-header {
  /*margin-top: 20px;*/
  font-weight: bold;
  font-size: 14px;
  color: #ddd;
  line-height: 1.9em;
}
.contact-info {
  margin-top: 2px;
  color: #999;
  font-size: 12px;
  line-height: 1.4em;
}

#social { margin-top: 33px; color: #999; font-size: 12px; }

.social-media { position: relative; height: 26px; text-indent: 25px; }
.social-media a, .social-media a:link { font-size: 12px; color: #999; }

.social-media .bw { position: absolute; left: 0; top: 0; }

.social-media .color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
}
