<div class="contact">
  <div class="container">
    <div class='row'>
      <div class='col-sm-4'>
        <div class='contact-header'>Contact Info:</div>
        <!-- <div class="contact-info">(206) XXX-XXXX </div> -->
        <div class="contact-info"><a href="mailto:kenecaswell+website@gmail.com">kenecaswell@gmail.com</a></div>
        <div class="contact-info">
          Please contact me via email or LinkedIn.
        </div>
      </div>
      <div class='col-sm-2 right'>
        <div id="social">
          <div class='social-media'>
            <a href="http://www.twitter.com/kenecaswell" target="_blank">
              <img class='bw' src="'../../assets/images/icons/twitter-bw-icon.png" alt='twitter' width="20" height="20">
              <img class='color' src="'../../assets/images/icons/twitter-icon.png" alt='twitter' width="20" height="20">kenecaswell
            </a>
          </div>
          <div class='social-media'>
            <a href="http://www.linkedin.com/in/kenedameron" target="_blank">
              <img class='bw' src="'../../assets/images/icons/linkedin-bw-icon.png" alt='linkedin' width="20" height="20">
              <img class='color' src="'../../assets/images/icons/linkedin-icon.png" alt='linkedin' width="20" height="20">kenedameron
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
