<div class="about">
  <div class='col-sm-7'>
    <div class='about-heading'>ABOUT</div>
    <p>K.C. is an Interactive Designer/Developer with over 8 years of experience in the design and ad tech industries. He loves
      developing well designed prototypes, demos, advertisements, and websites that have exciting and engaging user experiences.
      Flash, ActionScript 3.0, HTML5, CSS3, Javascript and Photoshop are his best friends.
    </p>
    <p>
      While at CrashShop, he worked with Microsoft creating Flash prototypes for Zune, Windows Mobile 6.5 and 7,
      and <a href="http://news.cnet.com/8301-10805_3-20128013-75/the-inside-story-of-how-microsoft-killed-its-courier-tablet/" target="_blank">Courier</a>.
      These prototypes were developed iteratively for UX research and usability testing. K.C. eventually
      became CrashShop's team lead on these projects and learned a great deal about UI design and
      UX design and development. He did similar work for companies such as T-Mobile, <a href="http://www.precor.com/" target="_blank">Precor</a>,
      <a href="http://www.synapse.com/" target="_blank">Synapse</a>, and <a href="http://tactileinc.com/" target="_blank">Tactile</a>
      developing user interfaces and user experiences for elaborate Flash/AIR demos and interactive
      presentations.
    </p>
    <p>
      K.C. has worked on several websites, including a few responsive HTML5 sites. He also has experience with
      Final Cut Pro, Adobe Media Encoder, Adobe After Effects, WordPress, and Facebook App Development.
    </p>
  </div>

</div>
