* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  color: #000;
  text-decoration: none;
  outline: 0;
}
a:link {
  color: #0AF;
}
a:active {
  color: #666666;
}
a:visited {
  color: #08C;
}
a:hover {
  color: #AAA; text-decoration: none;
}
a:focus {
  outline: 0 !important;
}
a:-webkit-any-link {
  color: #000;
  text-decoration:none !important;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 0;
}

p {
  color: #FFFFFF;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle
}

body {
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal; font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #000;
  background: #333;
  -webkit-font-smoothing: antialiased;
}

.app-container {
  height: 100%;
}

